<ion-view title="Create Job" id="page9" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <form id="createJob-form14" class="list">
      <div>
        <img src="img/F0Cq2CQRRkSOmLz4JLvD_Create-job.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 7px;"></div>
      <label class="item item-input" id="createJob-input10">
        <span class="input-label">Customer Name:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 268.4px; height: 8px;"></div>
      <label class="item item-input" id="createJob-input15">
        <span class="input-label">Address:</span>
        <input type="text" placeholder="Street Address">
      </label>
      <div class="spacer" style="width: 268.4px; height: 8px;"></div>
      <label class="item item-input" id="createJob-input16">
        <span class="input-label">Phone#:</span>
        <input type="tel" placeholder="757-123-4567">
      </label>
      <div class="spacer" style="width: 268.4px; height: 8px;"></div>
      <label class="item item-input" id="createJob-input17">
        <span class="input-label">Email</span>
        <input type="email" placeholder="abc@example.com">
      </label>
      <div class="spacer" style="width: 268.4px; height: 8px;"></div>
      <label class="item item-select" id="createJob-select4" name="contact">
        <span class="input-label">Preferred Contact</span>
        <select>
          <option>Phone</option>
          <option>Email</option>
          <option>Text</option>
        </select>
      </label>
      <div class="spacer" style="width: 268.4px; height: 9px;"></div>
      <label class="item item-select" id="createJob-select5" name="technician">
        <span class="input-label">Techinician</span>
        <select>
          <option>Carla</option>
          <option>Christina</option>
          <option>Dhanya</option>
          <option>Dan</option>
          <option>Sebastian</option>
          <option>Xavier</option>
        </select>
      </label>
      <div class="spacer" style="width: 268.4px; height: 7px;"></div>
      <label class="item item-input" id="createJob-input18" name="estimate">
        <span class="input-label">Est. Hours</span>
        <input type="number" placeholder="Est. Hours">
      </label>
      <div class="spacer" style="width: 268.4px; height: 7px;"></div>
      <label class="item item-select" id="createJob-select7">
        <span class="input-label">Priority</span>
        <select>
          <option>1- EMERGENT</option>
          <option>2- URGENT</option>
          <option>3- ROUTINE</option>
        </select>
      </label>
      <div id="createJob-button-bar1" class="button-bar">
        <a ui-sref="jobsListBusiness" id="createJob-button15" style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block">Submit</a>
        <a ui-sref="owner" id="createJob-button16" style="border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>