<ion-view title="Customer" id="page3" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Kkf1RPxSWu19MaPKE8RM_cust-service1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="jobsListCustomer" id="customer-button2" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon-right ion-android-home">View Your Jobs</a>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <a ui-sref="fixMyProblem" id="customer-button3" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon-right ion-android-add-circle">Request A Job</a>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="login" id="customer-button4" style="border-radius:50px 50px 50px 50px;" class="button button-calm  icon-left ion-android-arrow-back">Log Out</a>
  </ion-content>
</ion-view>