<ion-view title="Fix My Problem" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/y8oNgcIHTTuXjgpviS1k_GOOD-PLUMBING-WORK-Agricultural-Farm-jobs-Looking-for-a-job-at-Epe-Lagos.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <form id="fixMyProblem-form13" class="list">
      <label class="item item-input" id="fixMyProblem-input19">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="fixMyProblem-input20">
        <span class="input-label">Address</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <label class="item item-input" id="fixMyProblem-input21">
        <span class="input-label">Phone#</span>
        <input type="tel" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <label class="item item-input" id="fixMyProblem-input22">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <label class="item item-select" id="fixMyProblem-select6">
        <span class="input-label">Contact Me</span>
        <select>
          <option>Phone</option>
          <option>Email</option>
          <option>Text</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <label class="item item-input" id="fixMyProblem-input23">
        <span class="input-label">Issue Description:</span>
        <input type="text" placeholder="">
      </label>
      <button id="fixMyProblem-button28" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block">Attach an image </button>
      <div id="fixMyProblem-button-bar2" class="button-bar">
        <a ui-sref="jobsListCustomer" id="fixMyProblem-button21" style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block">Submit</a>
        <a ui-sref="customer" id="fixMyProblem-button22" style="border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>