<ion-view title="Jobs List- Business" id="page11" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="jobsListBusiness-list9">
      <ion-item class="item-thumbnail-left" id="jobsListBusiness-list-item28" ui-sref="jobsDetailBusiness">
        <img src="img/BXBylmsGRj2oT7yJsdz1_homepage-hero_v2.jpg">
        <h2>Technician Name</h2>
        <p>Customer Name/ID</p>
      </ion-item>
    </ion-list>
    <a ui-sref="owner" id="jobsListBusiness-button25" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block">Back to main</a>
  </ion-content>
</ion-view>