<ion-view title="Jobs List- Technician" id="page13" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="jobsListTechnician-list14">
      <ion-item class="item-thumbnail-left" id="jobsListTechnician-list-item34" ui-sref="jobsDetailBusiness">
        <img src="img/BXBylmsGRj2oT7yJsdz1_homepage-hero_v2.jpg">
        <h2>Customer Name/ID</h2>
        <p>Technician ID</p>
      </ion-item>
    </ion-list>
    <a ui-sref="technician" id="jobsListTechnician-button26" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block">Back to main</a>
  </ion-content>
</ion-view>