<ion-view title="Jobs List- Customer" id="page10" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <div id="jobsListCustomer-container8">
      <ion-list id="jobsListCustomer-list13">
        <ion-item class="item-thumbnail-left" id="jobsListCustomer-list-item27" ui-sref="jobsDetailCustomer">
          <img src="img/osiFGfLcQ1DbffTJurL4_homepage-hero_v2.jpg">
          <h2>Job #</h2>
          <p>Technician Name</p>
        </ion-item>
      </ion-list>
    </div>
    <a ui-sref="customer" id="jobsListCustomer-button24" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block">Back to main</a>
  </ion-content>
</ion-view>