<ion-view title="Jobs Detail- Customer" id="page8" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <div id="jobsDetailCustomer-container2">
      <ion-list id="jobsDetailCustomer-list8">
        <ion-item class="item-thumbnail-left" id="jobsDetailCustomer-list-item19" ui-sref="jobsListCustomer">
          <img src="img/3Rvjx5kQX42VpOHKALUQ_ph_job_details_2.gif">
          <h2>Job #</h2>
          <p>Technician Name</p>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
    </div>
    <div id="jobsDetailCustomer-container7">
      <form id="jobsDetailCustomer-form9" class="list">
        <label class="item item-input" id="jobsDetailCustomer-textarea2">
          <span class="input-label">Scope of work</span><textarea placeholder=""></textarea></label>
        <div class="spacer" style="height: 15px;"></div>
        <label class="item item-input" id="jobsDetailCustomer-textarea3">
          <span class="input-label">Status of Job:</span><textarea placeholder=""></textarea></label>
      </form>
    </div>
    <a ui-sref="jobsListCustomer" id="jobsDetailCustomer-button10" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon ion-android-clipboard">Back to list</a>
    <div class="list card" id="jobsDetailCustomer-card21">
      <ion-item class="item-avatar" id="jobsDetailCustomer-list-item32">
        <img src="img/ErBtVqlSROZaLc6o3Ca7_logo.png">
        <h2>Plumb Works</h2>
        <p>757-555-1212</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>