<ion-view title="Jobs Detail- Business" id="page1" style="background-color:#3F4CC8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="jobsDetailBusiness-list10">
      <ion-item class="item-avatar" id="jobsDetailBusiness-list-item29">
        <img src="img/y7dIKegiRQfSdWlcuMXw_person.jpg">
        <h2>Technician: Carla</h2>
        <p>Customer: Jones ID:02</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <form id="jobsDetailBusiness-form11" class="list">
      <label class="item item-select" id="jobsDetailBusiness-select1">
        <span class="input-label">Status of Job</span>
        <select>
          <option>New</option>
          <option>In Progress</option>
          <option>Deferred</option>
          <option>Completed</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-textarea8">
        <span class="input-label">Job Details: Leaky kitchen faucet</span><textarea placeholder=""></textarea></label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-textarea6" name="pulls from create a job priority">
        <span class="input-label">Priority: 2- Urgent</span><textarea placeholder=""></textarea></label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-input12">
        <span class="input-label">Start Time</span>
        <input type="time" placeholder="">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-input24">
        <span class="input-label">Stop Time</span>
        <input type="time" placeholder="">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-textarea5" name="pulls from user login ">
        <span class="input-label">Created by: Christina</span><textarea placeholder=""></textarea></label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-textarea4" name="pulls from create a job page system date">
        <span class="input-label">Date Created: 11/13/2016</span><textarea placeholder=""></textarea></label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="jobsDetailBusiness-textarea7">
        <span class="input-label">Special Notes: Moen faucet</span><textarea placeholder=""></textarea></label>
      <div id="jobsDetailBusiness-button-bar3" class="button-bar">
        <button id="jobsDetailBusiness-button36" style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block">SAVE</button>
        <button id="jobsDetailBusiness-button37" style="border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block">DELETE</button>
      </div>
    </form>
    <a ui-sref="jobsListBusiness" id="jobsDetailBusiness-button11" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon ion-android-clipboard">Back to list</a>
  </ion-content>
</ion-view>