<ion-view title="Owner" id="page6" style="background-color:#3F4CC8;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-star"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4JSwIAGjRMeE4o7sOwLX_About-Us-v3---960X350.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 55px;"></div>
    <a ui-sref="createJob" id="owner-button7" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon-right ion-plus-circled">Create a Job</a>
    <div class="spacer" style="height: 55px;"></div>
    <a ui-sref="jobsListBusiness" id="owner-button8" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon-right ion-wrench">View/Edit Jobs</a>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="login" id="owner-button9" style="border-radius:50px 50px 50px 50px;" class="button button-calm  icon-left ion-android-arrow-back">Log Out</a>
  </ion-content>
</ion-view>